// タブのカラー
$tab-color-newarrival: #F45B69;
$tab-color-cnet: #666666;
$tab-color-itmedia: #EA5420;
$tab-color-gigazine: #FFDD00;
$tab-color-engaget: #247BA0;
$tab-color-techcrunch: #0A9E01;
$tab-color-getnews: #1B95E0;
$tab-color-appgiga: #2BB24C;
$tab-color-codezine: #5070B2;
$tab-color-nelog: #FA9122;
$tab-color-buildinsider: #47D99E;
$tab-color-itmatome: #E61A13;