<div class="items">
    <% @rss_appgigas.each do |appgiga| %>
    <div class="item-list">
      <% if appgiga.image.present? %>
        <div class="list-thumb">
            <%= image_tag(appgiga.image, class: "lazy", "data-original": appgiga.image)%>
        </div>
      <%end%>
        <div class="list-text">

            <div class="list-title">
                <%= link_to(appgiga.title,appgiga.url)%>
            </div>
            <div class="list-date">
                <%= appgiga.content_published_at %>
            </div>
        </div>
        <%#= raw_appgiga.description) %>
    </div>
    <%end%>
</div>