<div class="items">
    <% @new_arrivals[0...from_cnt].each.with_index do |arrival, index| %>
    <div class="item-list">
        <% if arrival.image.present? %>
        <div class="list-thumb">
            <%= image_tag(arrival.image, class: "lazy", "data-original": arrival.image)%>
        </div>
        <%end%>
        <div class="list-text">

            <div class="list-title">
                <%= link_to(arrival.title, arrival.url)%>
            </div>
            <div class="list-date">
                <%= arrival.content_published_at %>
            </div>
        </div>
        <%#= raw(techcrunch.description) %>
    </div>
    <%# banner %>
    <% if index % 10 == 0 %>
    <div class="item-list in_banner">
        <!-- admax -->
        <script src="//adm.shinobi.jp/s/a5510c10c9c83f13bc1d3eb468a69d26"></script>
        <!-- admax -->
    </div>
    <%# banner %>
    <% end %>
    <%end%>
</div>