#page-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    font-size: 77%;
    a {
        background: #666;
        text-decoration: none;
        color: #fff;
        width: 40px;
        padding: 5px 0;
        text-align: center;
        display: block;
        border-radius: 3px;
    }
    a:hover {
        text-decoration: none;
        background: #999;
    }
}